* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #1b1b1f;
    color: #ccc;
}

hr { 
    width: 98%;
    display: flex;
    justify-self: center;
    border: 1.5px solid #000;
}

header {
    position: relative;
    user-select: none;
    padding: 10px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list {
    display: flex;
    justify-content: space-between;
}
.list > div > a {
    font-size: 20px;
    padding: 21px 20px;
    margin: 0 5px;
    border-radius: 10px;
    transition: .2s;
    z-index: -1;

}
.list > div > a:hover { 
    color: #808080;
    transition: .5s;
}

/* 首頁 */

#main1 {
    width: 100%;
    height: 750px;
}

#main1 > .text {
    width: 450px;
    position: relative;
    top: 200px;
    left: 200px;
}

.text > h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

#main1 > img {
    width: 450px;
    position: absolute;
    border-radius: 50%;
    right: 200px;
    top: 150px;
}

#main1 > a{
    width: 170px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 45px ;
    top: 420px;
    display: flex;
    justify-content: center;
}

#main1 > .but1 {
    position: absolute;
    left: 200px;
    background-color: #3c3c84;
    transition: .5s;
}

#main1 > .but2 {
    position: absolute;
    left: 410px;
    background-color: #333333;
    transition: .5s;
}

#main1 > .but1:hover {
    background-color: #422ec8;
    transition: .5s;
}

#main1 > .but2:hover {
    background-color: #646464;
    transition: .5s;
}

/* 什麼是人工智慧 */

#main2{
    position: relative;
    margin: 0 200px;
}